body {
    width: 900px;
}
form {
    width: 222px;
    display: inline-block;
}
#des {
    width: 200px;
}

input {
    display: inline-block;
}
.text_input {
    text-align: left;
    width: 133px;
}

label {
    text-align: left;

}
#desc {
    display:none;
}
.card {
    border: solid 3px black;
    border-radius: 15px;
    display: inline-block;
    padding: 20px;
    word-wrap:break-word;
    max-width: 200px;
}
