.wrapper {
    text-align: center;
}

.box {
    width: 222px;
    display: inline-block;
}

.button{
    position: fixed;
    top: 322px;
    right: 603px;
}

.equal {
    display: inline-block;
    border: solid black 2px;
    background-color: green;
    padding: 50px;
    position: relative;
}

.high {
    display: inline-block;
    border: solid black 2px;
    background-color: red;
    padding: 50px;
    position: relative;
}

.low {
    display: inline-block;
    border: solid black 2px;
    background-color: yellow;
    padding: 50px;
    position: relative;
}
 form {
     display: inline-block;
     width: 140px;
 }
