<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>show</title>
    </head>
    <body>
        <h2>Product {{id}}</h2>
        <h4>Name:</h4>
        {{name}}
        <h4>Description:</h4>
        {{description}}
        <h4>Price:</h4>
        {{price}}
        <form class="" action="/edit/{{id}}" method="get">
            <input type="submit" name="" value="Edit">
        </form>
        <form class="" action="/" method="get">
            <input type="submit" name="" value="Back">
        </form>
    </body>
</html>
