<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>links</title>
    </head>
    <body>
        <h2>Multi Apps Home</h2>
        <form class="" action="/login_reg/" method="get">
            <input type="submit" name="" value="Login and Register">
        </form>
        <form class="" action="/courses/" method="get">
            <input type="submit" name="" value="Input Courses">
        </form>
        <form class="" action="/courses/users_courses" method="get">
            <input type="submit" name="" value="Add Users To Courses">
        </form>
    </body>
</html>
