<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ninjas!!!</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'disappearingninjas/css/style.css' %}">
    </head>
<body>
    <div class="show">
        <img id="{{blue}}" src="{% static 'disappearingninjas/img/blue.jpg' %}" alt="">
        <img id="{{orange}}" src="{% static 'disappearingninjas/img/orange.jpg' %}" alt="">
        <img id="{{red}}" src="{% static 'disappearingninjas/img/red.jpg' %}" alt="">
        <img id="{{purple}}" src="{% static 'disappearingninjas/img/purple.jpg' %}" alt="">
        <img id="{{nota}}" src="{% static 'disappearingninjas/img/nota.jpg' %}" alt="">
    </div>
</body>
</html>
