<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>show all ninjas</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'disappearingninjas/css/style.css' %}">
    </head>
    <body>
        <div class="">
            <img class="all_ninjas" src="{% static 'disappearingninjas/img/blue.jpg' %}" alt="">
            <img class="all_ninjas" src="{% static 'disappearingninjas/img/orange.jpg' %}" alt="">
            <img class="all_ninjas" src="{% static 'disappearingninjas/img/red.jpg' %}" alt="">
            <img class="all_ninjas" src="{% static 'disappearingninjas/img/purple.jpg' %}" alt="">
        </div>
    </body>
</html>
