<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quotes Dashboard</title>
    </head>
    <body>
        <a href="{% url 'login_reg:index' %}">Log Out</a>
        <h1>Welcome, {{request.session.alias}}</h1>

        <h3>Quotable Quotes</h3>
        <hr>
        <div style='height:115px; width:200px; overflow-y:scroll; border:black 2px solid; -webkit-overflow-scrolling: touch;'>
        {% for quote in all_quotes %}
            <div style="border: 2px black solid;" class="">
                <h5>{{quote.quote}}</h5>
                <p>posted by <a href="{% url 'quotes:show' id=quote.user_id.id %}">{{quote.user_id.alias}}</a></p>
                <form class="" action="{% url 'quotes:join' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="logged_id" value="{{request.session.logged_id}}">
                    <input type="hidden" name="id" value="{{quote.id}}">
                    <input type="submit" name="" value="Add to My List">
                </form>
            </div>
        {% endfor %}
        </div>
        <h1></h1>
        <h3>Your Favorites</h3>
        <hr>
        <div style='height:115px; width:200px; overflow-y:scroll; border:black 2px solid; -webkit-overflow-scrolling: touch;'>
        {% for quote in fav_quotes %}
            <div style="border: 2px black solid;" class="">
                <h5>{{quote.quote}}</h5>
                <p>posted by <a href="{% url 'quotes:show' id=quote.user_id.id %}">{{quote.user_id.alias}}</a></p>
                <form class="" action="{% url 'quotes:remove' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="logged_id" value="{{request.session.logged_id}}">
                    <input type="hidden" name="quote_id" value="{{quote.id}}">
                    <input type="submit" name="" value="Remove from My List">
                </form>
            </div>
        {% endfor %}
        </div>

        <h3>Contribute a Quote</h3>
        {% for error in request.session.errors %}
          <p>{{error}}</p>
        {% endfor %}
        <form class="" action="{% url 'quotes:create' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="logged_id" value="{{request.session.logged_id}}">
            <p>Quoted By:</p>
            <input type="text" name="author" value="">
            <p>Message:</p>
            <textarea name="quote" rows="8" cols="80"></textarea>
            <input type="submit" name="" value="Submit">
        </form>
    </body>
</html>
